


<div id="main">
    <div class="content">

        <div class="row">
            <div class="headd col-12">
                <h1 class="bled1">Masz pytania zadzwoń</h1>
                <h1>22 053 233 232</h1>

            </div>

        </div>


        <div class="row">
            <div class="steper col-12">
                <mat-horizontal-stepper  [linear]="false" #stepper labelPosition="bottom">



                    <mat-step  [completed]="false">
                        <ng-template matStepLabel>Wybierz prezent</ng-template>
                        <div class="step1">

                                    <p-card  *ngFor="let i of card" class="cardd fadeIn " header="Advanced Card" subheader="Subheader" [style]="{width: '360px'}">
                                        <p-header>
                                            <img src="/assets/images/n1.jpg">
                                        </p-header>
                                        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed
                                            consequuntur error repudiandae numquam deserunt
                                            fsd
                                            fsd


                                        </div>
                                        <p-footer >
                                            <button pButton type="button" label="Save" icon="pi pi-check"
                                                    style="margin-right: .25em"></button>
                                            <button pButton type="button" label="Cancel" icon="pi pi-times"
                                                    class="ui-button-secondary"></button>
                                        </p-footer>
                                    </p-card>

                        </div>
                    </mat-step>
                    <mat-step  [completed]="false" edita>
                        <form [formGroup]="secondFormGroup">
                            <ng-template matStepLabel>Dane do wysyłki</ng-template>
                            <mat-form-field>
                                <input matInput placeholder="Address" formControlName="secondCtrl" required>
                            </mat-form-field>
                            <div>
                                <button mat-button matStepperPrevious>Back</button>
                                <button mat-button matStepperNext>Next</button>
                            </div>
                        </form>
                    </mat-step>
                    <mat-step [completed]="false">
                        <form [formGroup]="secondFormGroup">
                            <ng-template matStepLabel>Dodatkowe inforamcje</ng-template>
                            <mat-form-field>
                                <input matInput placeholder="Address" formControlName="secondCtrl" required>
                            </mat-form-field>
                            <div>
                                <button mat-button matStepperPrevious>Back</button>
                                <button mat-button matStepperNext>Next</button>
                            </div>
                        </form>
                    </mat-step>
                    <mat-step [completed]="false">
                        <ng-template matStepLabel>Podsumowanie</ng-template>
                        You are now done.
                        <div>
                            <button mat-button matStepperPrevious>Back</button>
                            <button mat-button (click)="stepper.reset()">Reset</button>
                        </div>
                    </mat-step>
                </mat-horizontal-stepper>
            </div>
        </div>


    </div>


    <!---->
    <!--<router-outlet></router-outlet>-->
    <!--<p-toast [baseZIndex]="999999" position="top-right"></p-toast>-->
    <!--<div *ngIf="spinerService.showSpinner" class="spinner_overlay">-->
    <!--<p-progressSpinner strokeWidth="5"></p-progressSpinner>-->
    <!--</div>-->
</div>


