<div class="content col-12 ">

    <div class="headd row">
        <span class="removable-col" [ngStyle]="setPointStyle()">{{userService.userPkt}}</span>
        <span class="removable-col"> <img  class="point_badge" src="http://www.kosze.waw.pl/images/icon/punkty.png" width="200" height="200"></span>
        
        
        
        <div class="logo_cont col-md-6 ">
            <span class="logo_img"> <img src="http://www.kosze.waw.pl/images/icon/gift2.png" width="65 "
                                         height="65"></span>
            <span class="logo"> Program Lojalnościowy</span>
        </div>


        <div class="tel_cont col-md-6 ">
            <span class="tex">Masz pytania zadzwoń</span>
            <span class="tel">22 053 233 232</span>
        </div>
    </div>


    <div class="row">

        <div class="col-12">
            <router-outlet></router-outlet>
        </div>

    </div>


</div>




<p-toast [baseZIndex]="999999" position="top-right"></p-toast>
<div *ngIf="spinerService.showSpinner" class="spinner_overlay">
    <p-progressSpinner strokeWidth="5"></p-progressSpinner>
</div>