html {
    background: url(/assets/images/background.jpg) no-repeat center center fixed;
    background-size: cover;
}

#main{
    width: 80%;
    height: 100px;
    margin: 0 auto;
    position: relative;

}

