.orders-view{
    margin-top: 100px;
    text-align: left;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
}
.tab-head{
    text-align: center;
}

.order-page-title{
    color: #283a68;
    margin-bottom: 40px;
    margin-left: 0px;
    font-size: 26px;
}





.ui-table .ui-table-thead > tr > th {
    background-color: #283a68 !important;
}