




<div id="basket_cont"  class="basket_cont">

    <div class="bask_ico" (click)="slidNav()">
        <img  src="http://www.kosze.waw.pl/images/icon/shop_bask_ico.png" width="60" height="60" class="bask_png">
        <span [class]="getBadgeStyle()">{{basketService.basketLines.length}}</span>
    </div>




    <div class="basket_int">


        <div class="basket_head">

            <span>Prezent</span>
            <span>Ilość</span>
            <span>Punkty</span>

        </div>


        <div *ngFor="let basketLine of basketService.basketLines">

            <span> {{basketLine.prize.name}} || </span>
            <span> <input type="number" class="form-control" name="" id="" aria-describedby="helpId"
                          placeholder="" min="0" [value]="basketLine.quantity"
                          (change)="basketService.updateQuantity(basketLine,$event.target.value)"> </span>
            <span (click)="basketService.deleteLine(basketLine);checkWeatherHideBasket()"> delete </span>
        </div>

        <div> TOTAL : {{basketService.basketTotalPkt}}</div>

        <div> <button *ngIf="basketService.basketTotalPkt <= userService.userPkt && basketService.basketTotalPkt > 0 " class="btn-primary" > Idz dalej </button></div>
        <span (click)="isBasketVisable=false"> close</span>
    </div>





</div>

